/* 
AULA 03


#caixa {
  width: 300px;
  height: 300px;
  background: #b9c941;
  padding: 10px;
  margin: 10px;
  border-radius: 10px 50px 80px 100px; /*esquerda topo, direita topo, direita baixo, esquerda baixo
}

.arredondamento {
  border-radius: 150px;
}


----------------------------------------------------------------


AULA 04 


#caixa {
  width: 300px;
  height: 300px;
  /* background: url(../imagens/camera.png);
  /* background: linear-gradient(80deg, magenta, purple);
  /* background: radial-gradient(pink, white, purple);
}

h1 {
  background: rgba(255, 255, 255, 0.8); /* O último valor define o grau da transparência
} 


----------------------------------------------------------------


AULA 05 


#caixa {
  width: 300px;
  height: 300px;
  padding: 8px;
  margin: 20px;
  background: #009670;
  box-shadow: 20px 20px black;
}

#caixa h1 {
  color: white;
  text-shadow: -10px -10px black;
  text-shadow: -10px -10px rgba(0, 0, 0, 0.2);
}
 

----------------------------------------------------------------


AULA 06


@keyframes animacao-caixa {
  from {  <- Estado inicial
    background: palevioletred;
    border-radius: 0px;
    top: 0;
    left: 0;
  }
  to {  <- Estado final 
    background: orangered;
    border-radius: 300px;
    top: 200px;
    left: 200px;
  }
}

----- Exemplo de prefixo, fazer com todos 
@-moz-keyframes animacao-caixa { 
  from {
    background: palevioletred;
  }
  to {
    background: white;
  } 

#caixa {
  width: 300px;
  height: 300px;
  position: relative;
  /*ouanimation-name: animacao-caixa;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;  reverse
  OU 
  animation: animacao-caixa 5s 1s 2 alternate; 
}


----------------------------------------------------------------


AULA 07


#caixa {
  width: 300px;
  height: 300px;
  background-color: palevioletred;
}

#caixa:hover {
  width: 400px;
  background-color: palegreen;
  transition: width 3s, background 1s;
  OU
  transition: all 3s;
}


----------------------------------------------------------------


AULAS 08, 09


----------------------------------------------------------------


AULA 10


*/
